body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    background: #23242a;
}


select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #353c49;
    background-image: none;
    flex: 1;
    padding: 1em;
    color:#fff;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border: 2px #6e778b solid;
    border-radius: .5em;
    margin: 3px;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

.select::hover {
    background: #ff0000;
}

.select:hover::after {
    background: #636060;
    color: #13d6af;
}

.button {

    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    background: #353c49;
    border: 2px #6e778b solid;
    border-radius: .5em;
    color:#fff;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
    flex: 1;
    line-height: 1;
}

.button:hover {
    background: #454d5c;
}